<div class="container">
  <div class="row">
    <div class="form-group col-6 mx-auto mt-4">
      <select class="form-control" id="category" name="category">
        <option selected>全部</option>
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
      </select>

      <div class="totalAmount mt-4">總金額: <span>0</span></div>

      <ul class="list-group mt-4">
        {{!-- each --}}
        {{#each record}}
        <li class="list-group-item d-flex justify-content-between">
          <div class="record-list d-flex">
            {{{this.icon}}}
            <div class="nameAndDate">
              <div class="name">{{this.name}}</div>
              <small class="date">{{this.date}}</small>
            </div>
            <div class="amount my-auto ml-5">${{this.amount}}</div>
          </div>
          <div class="button my-auto">
            <a href="/records/{{this._id}}/edit" class="btn btn-success">修改</a>
            <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
              <button class="btn btn-danger" type="submit">刪除</button>
            </form>
          </div>
        </li>
        {{/each}}
        {{!-- each --}}
      </ul>
      {{!-- 新增支出 --}}
      <a href="/records/new" class="btn btn-primary mt-4">新增支出</a>

    </div>
  </div>
</div>